html,body,header,nav,main,footer,section,aside,content,address,
div,p,span,i,strong,h1,h2,h3,h4,h5,h6,input,textarea,button,img,
ul,li,ol,dl,dt,dd,table,thead,tbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: Open sans, sans-serif;
    color: #222222;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    border: none;
}
.clear::after{/*::伪元素*/
    content: '';
    display: block;
    visibility: hidden;
    height:0;
    clear: both;
}
.hide{
    display:none;
}
.title{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.demo{
    text-align: center;
}
.demo > input{
    padding: 10px;
}

